// FONTS

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');$font-family: 'Roboto', sans-serif;

// COULEURS


[data-theme='light'] {
   
}

[data-theme='dark'] {
  
}



// DEFAULT

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body{
    font-family: $font-family;
}
a {
    color:unset;
    text-decoration: none;
}

//COLORS


// TEXT
h1{
    font-weight:900;
    font-size:3rem;
}
// Containers & responsive
section{

}
.container {
    max-width: 1280px;
    padding: 60px 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
}
.middle > * {
    width: 50%;
}

.center {
    text-align: center;
    justify-content: center;
}

.small-container {
    padding: 0 25%;
}

@media screen and (max-width: 1300px) {
    .container {
        padding: 60px 18px;
    }
}

@media screen and (max-width: 1044px) {
    .container {
        padding: 60px 16px;
    }

    .smaller {
        padding: 0 15%;
    }

    .flex {
        display: flex;
        flex-direction: column;
        text-align:center;
    }

    .middle>* {
        width: unset;
    }

    .nav-secondary {
        justify-content: center;
    }
}

@media screen and (max-width: 788px) {
    .container {
       
    }

    .smaller {
        padding: 0 0%;
    }

    .nav-secondary {
        display: flex;
        flex-direction: column;
        text-align:center;
    }
    .btn-2{
        margin-left:0px;
    }
}